$black      : #282828;
$grey       : #a0a0a0;
$green-hover: #037362;
$green-dark : #009E74;

$borderline : 0.1px solid $grey;

@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:300&display=swap');

$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;

body{
   font-family: $font1;
}


.title-section{
			text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: $borderline;
}

ul{
    display: flex;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
    li{
        padding: 10px;
    }
}

a{
   color: $black;
   font-size: 0.87em;
   &:hover{
    color: $green-hover;
   }
}

.logo{
    max-width: 180px;
    max-height: 18px;
    line-height: auto;
}

.video_text{
	text-align:right;
}

.navbar{
    border-bottom: $borderline;
    border-top: $borderline;
    //padding: 60px;
    font-weight: 400;

    ul{
        padding-left:60px;
    }

    a{
        padding:20px 5px;
    }
    .active{
        border-bottom: 3px solid $black;
        font-weight: 600;
    }
}

.content{
    max-width: 80%;
    margin: 30px auto;
    display:flex;
}

.story{
    max-width:70%;
    margin-right:20px;
}